body {
	background: url("") no-repeat center center fixed;
	background-position: bottom;
	background-size: 50%;
}

/*.container {
	height: 200px;
	position: relative;
  }
  
  .vertical-center {
	margin: 0;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
  }*/

/*
  .center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 200px;
  }
*/


.container{
		position: fixed;
    	top: 50%;  
    	left: 50%; 
    	transform: translate(-50%, -50%);
}

/*.container{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	justify-content: center;
	align-items: center;
}*/

#yes{
	position: fixed;
	left: -50%;
  	height: 50px;
  	width: 100px;
	padding: 15px 25px;
  	font-size: 24px;
  	text-align: center;
  	cursor: pointer;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
}

#yes:hover {background-color: rgb(126, 119, 119)}

#yes:active {
  background-color: #868282;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

#no{
	position: fixed;
  	height: 50px;
  	width: 100px;
	left: 50%;
	padding: 15px 25px;
  	font-size: 24px;
  	text-align: center;
  	cursor: pointer;
  	outline: none;
  	border: none;
  	border-radius: 15px;
  	box-shadow: 0 9px #999;
}

#no:hover {background-color: rgb(126, 119, 119)}

#no:active {
  background-color: #868282;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}